.archiveitem-glosario {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px dashed #ccc;

  h2 {
    display: inline;
    font-size: 1.4rem;
  }

  p:first-of-type {
    display: inline;
    font-family: 'Crimson Text', serif;
    font-size: 1.4rem;
  }
}
