.carditem {
  padding: 0 40px;
  margin-bottom: 48px;

  a:hover {
    text-decoration: none;
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
  }

  h1 {
    color: #333;
    font-size: 1.6rem;
    font-weight: 400;
  }

  .post-type-name,
  .author {
    color: #555;
    font-size: 0.8rem;
    display: block;
  }
}
