.carditem {
  padding: 0 40px;
  margin-bottom: 48px;

  a:hover {
    text-decoration: none;
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
  }

  h1 {
    color: #333;
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 12px;
  }

  .post-type-name {
    text-transform: uppercase;
  }

  .post-type-name,
  .author {
    color: #555;
    font-size: 0.8rem;
    display: block;
  }
}

@include media-breakpoint-down(sm) {
  .home .carditem {
    padding: 0 10px;
    margin-bottom: 48px;

    img {
      margin-bottom: 6px;
    }

    h1 {
      margin: 0;
    }
  }
}
