.editem {
  margin: 48px 0 48px;
  color: white;

  a {
    color: white;
  }

  a:hover {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 24px;
  }

  h1 {
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
  }

  .post-type-name,
  .author {
    color: #f0f0f0;
    font-size: 0.8rem;
  }
}
