.homeitem,
.archiveitem-visual {
  margin-bottom: 32px;
  min-height: 300px;
  text-align: center;

  .wrap-homeitem,
  .wrap-archiveitem {
    position: relative;
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  h1 {
    font-size: 2.6rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 16px;
  }

  a {
    color: white;
    text-shadow: 1px 1px 3px #555;
    padding: 162px 24px 48px 24px;
    display: block;
    width: 100%;
    height: 100%;
    min-height: 450px;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s linear;

    &:hover {
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 152px 24px 48px 24px;
    }
  }

  .post-type-name-inline {
    color: white;
    text-transform: lowercase;
    font-size: 0.9rem;
    opacity: 0.9;
  }
}

/**
First Item
**/

.featured-row {
  margin-left: -15px;
  margin-right: -15px;
}

.homeitem-0 .wrap-homeitem a {
  padding-top: $header_height * 1.8;
}

.homeitem-0 {
  text-align: center;

  h1 {
    font-size: 4.2rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
  }
}
