.mini-item {
  margin-bottom: 24px;

  h4 {
    font-weight: normal;
    margin-bottom: 0;
    font-size: 1.3rem;

    a {
      color: #333;
    }
  }

  .autor {
    font-size: 0.9rem;
    color: #b7b7b8;
  }
}
