.nav-primary {
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: -100vh;
  height: 100vh;
  left: 0;
  background-color: rgba(255, 255, 255, 0.96);
  z-index: 10;
  transition: top ease-in 0.5s;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    overflow: scroll;
  }

  .menus-top {
    text-align: right;
    border-left: 1px dashed #ccc;

    @include media-breakpoint-down(sm) {
      border-left: 0;
    }
  }

  &.active {
    top: 0;
    transition: top ease-out 0.5s;
  }

  .mailto a {
    color: #333;
    font-family: $text_font;
    font-size: 1.2rem;
  }

  a.link-home {
    color: #333;
    font-size: 24px;
    display: block;
    padding-top: 64px;

    @include media-breakpoint-down(sm) {
      padding-top: 0;
    }
  }

  ul.nav {
    padding: 0;
    display: block;

    li {
      display: block;
    }

    a {
      font-size: 24px;
      font-weight: normal;
      font-family: $text_font;
      color: #333;
    }
  }

  .container {
    height: 100vh;
  }

  a.close {
    font-size: 42px;
    margin-top: 45px;
    margin-right: 24px;
  }

  a.social-link {
    color: #333;
    font-size: 32px;
    display: inline-block;
    margin-right: 6px;
  }
}

.banner a.toggle {
  font-size: 42px;
  color: white;
  display: block;
  text-align: right;
  position: absolute;
  right: 36px;
  top: 36px;

  @include media-breakpoint-down(sm) {
    right: 12px;
    top: 6px;
  }
}

.page .banner a.toggle,
.archive .banner a.toggle,
.glosario-template-default .banner a.toggle,
.post-type-archive-ediciones .banner a.toggle,
.error404 .banner a.toggle,
.search .banner a.toggle,
.single-post .banner a.toggle {
  color: #333;
}

.lastnumber {
  margin: 48px 0 24px 30px;

  .editem .wrap-carditem {
    padding-right: 24px;

    h1 {
      font-size: 1.4rem;
    }
  }

  @include media-breakpoint-down(sm) {
    margin: 48px 0 24px 0;

    .editem {
      margin: 0 0 6px 0;
      padding: 0 0 6px 0;
      border-bottom: 1px solid #ccc;
    }
  }

  h1.lastnumber-title {
    font-family: $sans_font;
    font-weight: normal;

    @include media-breakpoint-down(sm) {
      margin: 0 0 12px 0;
    }
  }
}

@include media-breakpoint-down(sm) {
  .nav-primary {
    a.close {
      margin: 12px 0 0 0;
    }

    .logo-nav img {
      max-width: 120px;
      height: auto;
      padding: 0;
      margin-top: 0;
    }
  }
}

.menu-principal-container {
  margin-bottom: 36px;
}
