@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "components/homeitem";
@import "components/carditem";
@import "components/archiveitem-glosario";
@import "components/editem";
@import "components/edicioncard";
@import "components/footnotes";
@import "components/nav";

/** Layouts */
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/single";
@import "layouts/single-ediciones";
@import "layouts/single-visual";
@import "layouts/404";
@import "layouts/search";
@import "layouts/archive";
@import "layouts/archive-ediciones";
@import "layouts/page";
@import "layouts/tinymce";
