.post-type-archive-ediciones {
  main.main {
    margin-top: $header_height;

    @include media-breakpoint-down(sm) {
      margin-top: $mobile_header_height;

      .edicioncard {
        margin-bottom: 24px;
      }
    }

    h1.ediciones-title {
      text-align: center;
      font-size: 3.6rem;
      margin-bottom: 32px;
    }
  }

  .viswrap {
    margin-top: 32px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #f0f0f0;
  }
}
