.archive main.main,
.page-template-novedades main.main {
  header.archive-header {
    margin-top: $header_height + 24px;
    margin-bottom: 36px;

    @include media-breakpoint-down(sm) {
      margin-top: $mobile_header_height + 24px;
    }

    h2.entry-title {
      a {
        color: #333;
      }
    }
  }

  span.date {
    color: #333;
  }
}

.page-template-novedades main.main {
  .wrap-carditem {
    text-align: center;

    h1 {
      font-size: 2.2rem;
    }
  }
}
