footer.content-info {
  padding: 24px 0;
  font-size: 0.8rem;
  opacity: 0.6;
}

.seremi {
  text-align: right;

  p {
    float: right;
    width: 200px;
    margin-top: 60px;
    margin-right: 24px;

    @include media-breakpoint-down(sm) {
      margin-top: 6px;
    }
  }
}

.seremi img {
  max-width: 160px;
  height: auto;
  margin: 6px 12px 6px 6px;
  float: right;
}
