.banner {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
}

.visual-template-default .banner {
  position: fixed;
}

.admin-bar .banner {
  top: 32px;
}

.social {
  text-align: right;
  font-size: 32px;
  position: absolute;
  right: 36px;
  top: 36px;

  a {
    color: white;
  }
}

.logo img {
  max-width: 200px;
  height: auto;
  padding: 24px 0 0 32px;
}

.logo img.isotipo {
  max-width: 60px;
}

.home .logo img {
  padding: 24px 0 0 32px;
}

.home .logo img.isotipo {
  padding: 24px 0 0 0;
  margin-left: 24px;
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}
