.banner {
  position: absolute;
  width: 100%;
  top: 0;
}

.visual-template-default .banner {
  position: fixed;
  z-index: 10;
}

.logged-in .banner {
  top: 32px;
}

.social {
  text-align: right;
  font-size: 32px;

  a {
    color: white;
  }
}

.home .social {
  a {
    color: #333;
  }
}

.logo {
  max-width: 180px;
  height: auto;
  padding: 24px 0 0 0;
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

