.banner {
  position: absolute;
  width: 100%;
  top: 0;
}

.visual-template-default .banner {
  position: fixed;
  z-index: 10;
}

.admin-bar .banner {
  top: 32px;
}

.social {
  text-align: right;
  font-size: 32px;

  a {
    color: white;
  }
}

.home .social,
.single-ediciones .social {
  a {
    color: #333;
  }
}

.logo {
  max-width: 200px;
  height: auto;
  padding: 24px 0 0 16px;
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner .toggle {
  font-size: 42px;
  color: white;
  display: block;
  margin-top: 42px;
  margin-right: 16px;
}

.home .banner .toggle,
.single-ediciones .banner .toggle {
  color: #333;
}
