.single main.main {
  header {
    height: 100vh;
    margin-bottom: 12px;
    background-color: #555;

    h1.entry-title {
      font-size: 56px;
      color: white;
      padding: 324px 0 24px 0;
    }

    time,
    .author {
      color: white;
    }
  }

  .entry-content {
    max-width: 70%;
    margin: 0 auto;
    font-family: 'Cabin', sans-serif;
    font-size: 1.4rem;

    h2,
    h3,
    h4 {
      margin: 2rem 0;
    }
  }
}

// .single .sidebar {
// }
