.single-ediciones main.main {
  @include media-breakpoint-down(sm) {
    padding-top: $mobile_header_height;

    header h1.entry-title {
      text-align: center;
    }
  }

  header h1.entry-title {
    font-size: 3.6rem;
    font-family: $sans_font;
    font-weight: normal;
  }

  .mainedicion.homeitem {
    width: 100%;
    margin-top: -90px;
    padding-top: 90px;
    color: white;
    margin-bottom: 0;

    @media screen and(max-width: 768px) {
      padding-top: 0;
    }
  }

  .visuales-row h1 {
    @media screen and (max-width: 768px) {
      font-size: 32px !important;
    }
  }

  .wrap-homeitem {
    .editorial-numero {
      padding: 90px;
      background-color: rgba(0, 0, 0, 0.3);

      @media screen and(max-width: 768px) {
        padding: 90px 12px 12px 12px;
      }
    }

    h1 {
      font-size: 60px;
    }

    .content-main {
      text-align: left;
      margin-top: 36px;
    }
  }

  a {
    color: white;
  }

  .entry-content.excerpt {
    overflow: hidden;
    //text-shadow: 0.5px 0.5px 0 #151f26;
    transition: max-height ease-out 1s, background linear 1s;
    padding: 24px;
    margin: -24px;
  }

  .editem {
    margin-top: 0;
  }

  .editem h1 {
    font-weight: 700;

    @include media-breakpoint-down(sm) {
      text-shadow: 1px 1px 0 lighten(#151f26, 15%);
    }
  }

  .more-section {
    text-align: center;
  }

  .btn.continue {
    background-color: transparent;
    border: 1px solid white;
    margin: 24px auto 0 auto;
    color: white;
  }

  .entry-content.excerpt.active {
    transition: max-height ease-in 1s, background linear 1s;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 24px 0 24px 0;
  }

  .entry-content.excerpt .fullcontent {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px dashed white;
  }

  .entry-content.excerpt .excerpt-more {
    font-family: sans-serif;
    font-size: 0.9rem;
    text-transform: lowercase;

    a,
    a:hover {
      border: none;
    }
  }
}

.single-ediciones footer.content-info {
  display: none;
}

.vistitle {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin: 12px auto 0 auto;
  color: #333;
  border-bottom: 1px solid white;
  padding-bottom: 12px;
  z-index: 101;
  width: 100%;
  text-align: center;
}

#aura_visualizacion {
  z-index: 100;
  padding: 0;
  background: rgba(0, 0, 0, 0.9);
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 36px;
  text-align: center;

  .ver-vis {
    font-size: 32px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 24px;
  }
}

.toggle-vis {
  font-size: 24px;
  font-family: 'Josefin Sans', sans-serif;
  padding: 24px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: -36px;
  margin-bottom: 36px;

  .ver-vis .hide {
    display: none;
  }

  &.onToggle {
    margin-top: 0;

    .ver-vis .show {
      display: inline;
    }

    .ver-vis .hide {
      display: none;
    }
  }

  &.firstToggle {
    .ver-vis .show {
      display: none;
    }

    .ver-vis .hide {
      display: inline;
    }
  }
}
