body.single.visual-template-default {
  background-color: $dark;

  header.banner .logo img {
    padding: 24px 12px 12px 24px;
    max-width: 80px;
    margin: 0;
    //background-color: rgba(33, 33, 26, 0.6);

    &.isotipo {
      max-width: 76px;
      padding: 24px 0 0 32px;
    }

    @include media-breakpoint-down(sm) {
      &.isotipo {
        max-width: 55px;
        padding: 12px;
      }
    }
  }

  header.banner .container-fluid {
    padding-left: 0;
  }

  footer.content-info {
    display: none;
  }
}

.single.visual-template-default #aura_carousel img {
  max-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 6px 24px 0 24px;
  left: auto;
  background-color: $dark;
  color: white;

  h5 {
    padding: 0;
    margin: 0;
    font-size: 0.7rem;
    font-family: sans-serif;
    font-weight: normal;
  }
}

.content-visual {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: -100vh;
  left: 0;
  opacity: 0;
  transition: all ease-in 0.8s;

  a.insta {
    color: white;
    font-family: sans-serif;
    font-size: 1rem;
    margin-bottom: 12px;
    display: block;
    text-align: center;
  }

  &.active {
    top: 0;
    opacity: 1;
  }

  .entry-content-visual {
    position: relative;

    h1 {
      font-family: $sans_font;
      text-align: center;
      font-weight: normal;
      margin-bottom: 0;
    }

    span.close {
      position: absolute;
      right: 12px;
      top: 12px;
      color: white;
      text-shadow: none;
    }

    span.author {
      display: block;
      font-family: sans-serif;
      text-align: center;
      font-size: 1rem;
      margin-bottom: 12px;
    }

    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-family: $text_font;
    max-width: 90%;
    width: 600px;
    padding: 24px;
    margin: $header_height auto 0;
    font-size: 1.3rem;
  }

  @include media-breakpoint-down(sm) {
    overflow: scroll;

    .entry-content-visual {
      margin: 0 auto 0;
      max-width: 100%;
      padding: 0 12px 0 12px;
      font-size: 1rem;
      max-height: 100vh;
      height: 100vh;

      h1 {
        font-size: 1.6rem;
        padding-top: 70px;
      }

      span.author {
        font-size: 0.8rem;
      }

      span.close {
        top: auto;
        right: auto;
        text-align: center;
        position: relative;
        display: block;
        width: 100%;

        &::after {
          content: 'cerrar texto';
          display: block;
          width: 100%;
          font-family: sans-serif;
          font-size: 0.8rem;
          font-weight: normal;
        }
      }
    }
  }
}

.single.visual-template-default main.main header {
  height: auto;
  background-color: rgba(33, 33, 26, 0.6);
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 6px 24px 24px 24px;
  z-index: 5;
  margin: 0;
  min-width: 460px;

  @include media-breakpoint-down(sm) {
    min-width: 300px;
  }

  h1 {
    font-family: $sans_font;
    font-weight: normal;
    margin: 0;

    @include media-breakpoint-down(sm) {
      font-size: 1.4rem;
    }
  }

  a {
    color: white;
  }

  p.author {
    font-size: 1rem;
    margin: 0;
    text-align: left;

    @include media-breakpoint-down(sm) {
      font-size: 0.8rem;
    }
  }

  .insta {
    @include media-breakpoint-down(sm) {
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 576px) {
  .single.visual-template-default main.main {
    #aura_carousel {
      //margin-top: $header_height - 24px;
      margin-top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
  }
}

