article.type-ediciones {
  height: 100vh;
  padding-top: $header_height;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;

  a {
    color: white;
  }

  .entry-content.excerpt .excerpt-more {
    font-family: sans-serif;
    font-size: 0.6rem;
  }
}
