.single-post main.main {
  header {
    max-width: 70%;
    margin: 0 auto 36px auto;

    span.date {
      font-size: 1rem;
    }
  }

  header h1.entry-title {
    text-shadow: none;
    color: #333;
    padding: $header_height 0 0 0;
  }
}
