.single main.main {
  header {
    h1.entry-title {
      font-size: 56px;
      color: white;
      padding: $header_height * 2 0 24px 0;
      text-shadow: 1px 1px 3px #555;

      @include media-breakpoint-down(sm) {
        padding: $header_height + 24px  0 12px 0;
        font-size: 32px;
      }
    }

    .author,
    .author a {
      color: white;
      font-family: $util_font;
      font-size: 1.4rem;
    }
  }

  .entry-content {
    max-width: 70%;
    margin: 0 auto;
    font-family: $text_font;
    font-size: 1.4rem;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }

    h2,
    h3,
    h4 {
      margin: 2rem 0;
    }

    figure {
      margin: 3rem auto;

      figcaption {
        font-size: 1rem;
        text-align: center;
      }
    }
  }
}

blockquote {
  padding-left: 48px;
  margin: 24px 0;
  font-style: italic;
}

.single.visual-template-default #aura_carousel img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 6px 24px 0 24px;
  left: auto;
  background-color: #000;
  color: white;

  h5 {
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    font-family: sans-serif;
  }
}

.single.visual-template-default main.main header {
  height: auto;
  background-color: #000;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 6px 24px;
  z-index: 10;
  margin: 0;
}

.single main.main header.ediciones {
  height: auto;

  h1.entry-title {
    padding: 0;
    text-shadow: none;
  }
}

.single-ediciones main.main .entry-content {
  max-width: 100%;
}

.single main.main header.post {
  height: 100vh;
  margin-bottom: 48px;
  background-color: #555;

  .overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.artistas-template-default,
.cronicas_territorio-template-default {
  .entry-content p:first-of-type::first-letter {
    font-size: 64px;
    line-height: 48px;
    font-weight: 600;
    vertical-align: top;
    display: block;
    padding: 3px;
    float: left;
  }
}
