.single-ediciones main.main article.type-ediciones {
  padding-top: $header_height;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;

  @include media-breakpoint-down(sm) {
    padding-top: $mobile_header_height;

    header h1.entry-title {
      text-align: center;
    }
  }

  header h1.entry-title {
    font-size: 3.6rem;
    font-family: $sans_font;
    font-weight: normal;
  }

  a {
    color: white;
  }

  .entry-content.excerpt {
    overflow: hidden;
    //text-shadow: 0.5px 0.5px 0 #151f26;
    transition: max-height ease-out 1s, background linear 1s;
    padding: 24px;
    margin: -24px;
  }

  .editem {
    margin-top: 0;
  }

  .editem h1 {
    font-weight: 700;

    @include media-breakpoint-down(sm) {
      text-shadow: 1px 1px 0 lighten(#151f26, 15%);
    }
  }

  .more-section {
    text-align: center;
  }

  .btn.continue {
    background-color: transparent;
    border: 1px solid white;
    margin: 24px auto 0 auto;
    color: white;
  }

  .entry-content.excerpt.active {
    transition: max-height ease-in 1s, background linear 1s;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 24px 0 24px 0;
  }

  .entry-content.excerpt .fullcontent {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px dashed white;
  }

  .entry-content.excerpt .excerpt-more {
    font-family: sans-serif;
    font-size: 0.9rem;
    text-transform: lowercase;

    a,
    a:hover {
      border: none;
    }
  }
}

.single-ediciones footer.content-info {
  display: none;
}
