body {
  background-color: #f5f5f5;
}

.content .main {
  margin-top: $header_height;
}

.visual-template-default .content .main {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Crimson Text', serif;
}
