/** Bugfix https://github.com/roots/sage/issues/2017 **/
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$header_height: 165px;
$text_font: 'Crimson Text', serif;
$util_font: sans-serif;
