/** Bugfix https://github.com/roots/sage/issues/2017 **/
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$header_height: 165px;
$mobile_header_height: 90px;
$text_font: 'Crimson Text', serif;
$sans_font: 'Josefin Sans', sans-serif;
$util_font: sans-serif;
$dark: #212124;
$link_color: #007bff;
$link_color_dark: #0056b3;
